*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ethnocentric;
}
h1 {
    color: red;
    background-color: black;
    width: 100%;
    position: static;
    text-align: center;
}