* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 90px;
    position: fixed;
    background-color: black;
    border: 3px solid gold;
    border-color: 10px solid gold;
    width: 100%;
    top: 0;
}
#h_logo {
    width: 70px;
    margin: 10px 0 10px 50px;
}
#name {
    font-family: "Waterfall", cursive;
    font-size: 30px;
    position: relative;
    color: gold;
    margin: 28px 100px 26px 0;
}
#slogan {
    color: gold;
    font-size: 20px;
    position: relative;
    margin: 34px 20px 33px 150px;
}
.link_header {
    font-size: 18px;
    position: relative;
    cursor: pointer;
    color: gold;
}
#login {
    font-size: 18px;
    position: relative;
    margin-left: 250px;
    cursor: pointer;
}
#button_contratar {
    background-color: black;
    color: gold;
    border-radius: 6px;
    width: 120px;
    height: 30px;
    position: relative;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
    margin: 30px 50px 30px 250px;
}
#insta {
    height: 48px;
    align-self: flex-end;
    margin: 21px 10px 21px 90px;
}
#zap {
    height: 60px;
    align-self: flex-end;
    margin-left: 10px;
    margin-right: 10px;
}
section {
    padding: 40px;
    width: 120px;
}
main {
    margin: 95PX 0 0 0px;
}
footer {
    background-color: black;
    color: gold;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

